@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
	padding: 0;
	margin: 0;
	color: #EBF2F2;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
	background: #0A0A18;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Varela Round', sans-serif;
	color: #E3B455;
}

.clearfix {
	overflow: auto;
}

header {
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0%;
	/*
	left: 50%;
	transform: translate(-50%, 0%);
	*/
	background: linear-gradient(180deg, rgba(5, 5, 12, 1) 0%, rgba(5, 5, 12, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
	text-align: center;
}

#navbar-logo {
	height: 3rem;
	padding-top: 1rem;
}

#navbar {
	padding-top: 0.5rem;
	padding-bottom: 2.5rem;
}

#navbar li {
	display: inline-block;
	color: #EBF2F2;
	padding: 0 1rem;
}

#navbar li a {
	text-decoration: none;
	transition: color 0.25s;
}

.fullpage {
	position: relative;
	max-width: 100vw;
	min-height: 80vh;
	padding: 10vh 10vw;
	background: linear-gradient(0deg, rgba(5, 5, 12, 1) 0%, rgba(10, 10, 24, 1) 20%, rgba(10, 10, 24, 1) 80%, rgba(5, 5, 12, 1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.fullpage h2 {
	margin-bottom: 0.5em;
}

.centered-content {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#home {
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin-top: 15vh;
}

#front-page-logo img {
	max-width: 60vw;
	max-height: 30vh;
	margin: 2vh;
}

#front-page-logo h3 {
	color: #EBF2F2;
	font-weight: normal;
	font-family: 'Merienda', cursive;
}

#about {
	text-align: center;
	padding: 4em;
	background: rgba(5, 5, 12, 1);
}

#zenware-brands {
	display: flex;
	flex-wrap: wrap;
}

.brand-summary {
	width: 95%;
}

.about-brand-logo {
	width: 60%;
	padding: 5em 0 2em 0;
}

span {
	color: #E3B455;
}

.brand-subpage {
	width: 100%;
}

.brand-subpage div {
	text-align: center;
}

.brand-information h2 {
	margin-bottom: 0.5em;
}

.brand-subpage img {
	height: 40vh;
	padding: 0 0 1.5em 0;
}

#academy-link {
	display: inline-block;
	color: #5565e3;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0;
}

#youtube-links {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	flex-wrap: wrap;
}

#youtube-links div {
	margin: 1em 1em 0 1em;
	padding: 0;
}

#youtube-links div p {
	color: #E3B455;
}

#youtube-logo {
	height: 4vh;
	margin-top: 0.5em;
	padding: 0;
}

#contact {
	text-align: center;
}

#founder-logo {
	border-radius: 50%;
	margin-bottom: 1em;
	max-width: 100%;
	width: 40vh;
}

#get-in-touch {
	margin-top: 1.5em;
}

#get-in-touch p {
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}

#get-in-touch a {
	display: inline-block;
}

#linkedin-logo {
	height: 6vh;
	margin-top: 1em;
	filter: brightness(0) invert(1);
}

.image-cut {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: transform 0.5s;
	filter: grayscale(50%);
}

.image-cut:hover {
	transform: scale(1.1);
	z-index: 20;
	filter: grayscale(0%) brightness(2) saturate(1.5) contrast(1.2);
}

.image-cut-text {
	box-shadow: 0 0 50px 50px #0a0a0a;
	background-color: #0a0a0a;
	width: fit-content;
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
}

.image-cut img {
	width: 12rem;
}

#first-image-cut {
	background-image: url('img/hero-solutions.jpg');
	clip-path: polygon(0 0, 40% 0, 20% 100%, 0% 100%);
	transform-origin: 0%;
}

#second-image-cut {
	background-image: url('img/hero-academy.jpg');
	clip-path: polygon(40% 0, 80% 0, 60% 100%, 20% 100%);
}

#third-image-cut {
	background-image: url('img/hero-games.jpg');
	clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
	transform-origin: 100%;
}

.image-cut-text {
	top: 50%;
}

#first-image-cut .image-cut-text {
	left: 15%;
	font-family: 'Poppins';
}

#second-image-cut .image-cut-text {
	left: 50%;
	font-family: 'Graduate';
}

#third-image-cut .image-cut-text {
	left: 85%;
	font-family: 'Aldrich';
}

@media screen and (orientation:portrait) {
	.image-cut-text {
		left: 50% !important;
	}

	#first-image-cut {
		clip-path: polygon(0 0, 0 40%, 100% 20%, 100% 0%);
		transform-origin: 50% 0%;
	}

	#second-image-cut {
		clip-path: polygon(0 40%, 0 80%, 100% 60%, 100% 20%);
	}

	#third-image-cut {
		clip-path: polygon(0 80%, 0 100%, 100% 100%, 100% 60%);
		transform-origin: 50% 100%;
	}

	#first-image-cut .image-cut-text {
		top: 15%;
	}

	#second-image-cut .image-cut-text {
		top: 50%;
	}

	#third-image-cut .image-cut-text {
		top: 85%;
	}
}

@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) {
	.brand-summary {
		width: 30%;
		padding: 1.666%;
	}

	.brand-subpage {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.brand-subpage div {
		padding: 2.5%;
	}

	.brand-information {
		text-align: left !important;
		width: 45%;
	}


	#youtube-links {
		justify-content: left;
	}

	.centered-subtext {
		max-width: 60vw;
		margin: auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}