@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Hero';
    src: url('/academy/hero.otf'),;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
}

.font-hero {
    font-family: 'Hero' !important;
}

.font-graduate {
    font-family: 'Graduate' !important;
}

h1 {
    font-size: 2.25rem !important;
}

h2 {
    font-size: 1.875rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

h5 {
    font-size: 1.15rem !important;
}

h6 {
    font-size: 1rem !important;
}

strong {
    color: #E3B455 !important;
}

figure {
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 0.5rem;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.85rem;
}

code {
    font-size: 0.8rem !important;
}
