@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Hero';
    src: url('/academy/hero.otf'), ;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
}

.font-hero {
    font-family: 'Hero' !important;
}

.font-graduate {
    font-family: 'Graduate' !important;
}

h1 {
    font-size: 2.25rem !important;
}

h2 {
    font-size: 1.875rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

h5 {
    font-size: 1.15rem !important;
}

h6 {
    font-size: 1rem !important;
}

strong {
    color: #E3B455 !important;
}

ul, ol {
    list-style-position: outside !important;
    margin-left: 2rem !important;
}

ul {
    list-style-type: disc !important;
}

ol {
    list-style-type: decimal !important;
}

ul li, ol li {
    margin-bottom: 1rem !important;
}

figure {
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 0.5rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.85rem;
}

code {
    font-size: 0.8rem !important;
}


#homepage {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#BE7E24, #0A0A18);
}

button:focus {
    outline: none;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}